<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MindJournalHub</title>
  <link rel="stylesheet" href="/lib/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/animate.css/animate.min.css">
  <link rel="stylesheet" href="/lib/css/style.css">
  <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.min.css">
  <style>
    body {
      padding-top: 70px;
    }

    .navbar {
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s, box-shadow 0.3s;
    }

    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    .navbar-brand img {
      margin-right: 10px;
    }

    .navbar-nav .nav-link {
      font-size: 1.2rem;
      margin-right: 1rem;
      transition: color 0.3s;
    }

    .navbar-nav .nav-link:hover {
      color: #007bff;
    }

    .navbar-nav .dropdown-menu {
      border-radius: 0.5rem;
    }

    .navbar-toggler {
      border: none;
    }


    .navbar.scrolled {
      background-color: #f8f9fa;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      window.addEventListener("scroll", function() {
        if (window.scrollY > 50) {
          document.querySelector(".navbar").classList.add("scrolled");
        } else {
          document.querySelector(".navbar").classList.remove("scrolled");
        }
      });
    });
  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/posts">
        <img src="/lib/img/logo/black-logo.png" alt="MindJournalHub Logo" height="55">
        <span style="color:#05af9e;">MindJournalHub</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/Posts/" class="nav-link">Articles</a>
          </li>
          <li class="nav-item">
            <a href="/Team/" class="nav-link">Team</a>
          </li>
          <li class="nav-item">
            <a href="/About/" class="nav-link">About</a>
          </li>
          @if(User.Identity!.IsAuthenticated && User?.FindFirstValue(ClaimTypes.Role) == "Admin" || User?.FindFirstValue(ClaimTypes.Role) == "Researcher")
          {
            <li class="nav-item">
              <a href="/Posts/List" class="nav-link">My Articles</a>
            </li>
            <li class="nav-item">
              <a href="/Profile/@User.Identity.Name" class="nav-link">@User.Identity.Name</a>
            </li>
            @if(User.Identity!.IsAuthenticated && User?.FindFirstValue(ClaimTypes.Role) == "Admin")
            {
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="manageDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="manageDropdown">
                  <a class="dropdown-item" href="/Admin/UserManager">UserManager</a>
                  <a class="dropdown-item" href="/Admin/PostManager">PostManager</a>
                  <a class="dropdown-item" href="/Admin/CommentManager">CommentManager</a>
                </div>
              </li>
            }
            <li class="nav-item">
              <a href="/Users/Logout" class="nav-link">Logout</a>
            </li>
          }
          else
          {
            <li class="nav-item">
              <a href="/Users/Login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a href="/Users/Register" class="nav-link">Register</a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-3">
    @RenderBody()
  </div>
  @RenderSection("Scripts", required: false)
  <!-- Bootstrap Bundle with Popper -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/jquery-validate/jquery.validate.min.js"></script>
  <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
